<div class="row text-center">
<%= image_tag("horse.png", width: "500px") %>

<div class="container">
<%= form_tag sessions_path, :class=>"form-horizontal" do %>

<%= label_tag :email %>
<%= text_field_tag :email %>

<%= label_tag :password %>
<%= password_field_tag :password %>

<%= submit_tag "Log In" %>
<% end %>
</div>

</div>