<div class="container post_page">

  <p id="notice"><%= flash[:notice] %></p>
  <p id="notice"><%= flash[:success] %></p>
  <p id="notice"><%= flash[:error] %></p>
  <h1>Posts</h1>

  <p>
    <h4><a class="show_new_form">Write a New Post:</a></h4>
  </p>
  <div class="new_post_form">
    <%= render partial: 'new_form' %>  
  </div>

  <div id="posts_div">
    <% @posts.order("created_at DESC").each do |post| %>
      <div class= "post" id="post-<%= post.id %>" >
        <p class="post_title" data-post-id="<%=post.id%>">
          <h2><%= post.title %></h2>
          <p class="author">by <%= link_to post.user.name, post.user %></p>
        </p>
        <p class="buttons">
          <a class="show_button">Show Full</a>
          <%= link_to "  |   Edit", "", class: "edit_button" if post.user == current_user %>
          <%= link_to '|   Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if post.user == current_user %>
        </p>
        <p class="preview_content">
          <em><%= "#{post.content[0,140]}..." %></em>
        </p>
        <p class="full_content">
          <%= post.content %>
        </p>
        <div class="edit_form">
          <%= render partial: 'edit_form', locals: {post: post} %>
        </div>
        <div class="comments">
          <button class="comment_show btn btn-default btn-xs">
            Show Comments:
          </button>
          <p>
            <ul class="comments_ul">
              <% post.comments.each do |comment| %>
                <p>
                  <%= link_to comment.user.name, comment.user %>: <%= comment.content %>
                </p>
              <% end %>
                <p class="comment_form">
                  <%= render partial: 'comment_form', locals: {post: post} %>
                </p>
            </ul>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>




