<!DOCTYPE html>
<html>
<head>
  <title>Friendbook</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
    	<li id="welcome_text"><%= "Neigh, #{current_user.name}!" if logged_in? %></li>
      <li><%= link_to("Sign Up", signup_path) if !logged_in? %></li>
      <li><%= link_to("Log In", login_path) if !logged_in? %></li>
      <li><%= link_to "Posts", posts_path if logged_in? %></li>
      <li><%= link_to "Horses", users_path if logged_in? %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Log Out", signout_path if logged_in? %></li>
    </ul>
  </div>
</div>
<div class="container">
<%= yield %>
</div>
<footer class="layout_footer">

</footer>
</body>
</html>