<!DOCTYPE html>
<html>
<head>
  <title>Friendbook</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<%= link_to("Sign Up", signup_path) if !logged_in? %>
<%= link_to("Log In", login_path) if !logged_in? %>
<%= "Hello, #{User.find(session[:id]).name}!" if logged_in? %> 
<%= link_to "Log Out", signout_path if logged_in? %>

</nav>

<%= yield %>

</body>
</html>
